 <div id="background">
           <!-- <img src="../Desktop/images.jpeg" alt="Scroll"> -->
            <header class="cf">
                <div class="wrapper_wide">
                <a href="#" id="logo">Podcast.Fm</a>
                <nav>
                    <ul>
                    <l1><a href='#'>Explore</a> </l1>
                    <li><a href ='#'>Sign in</a></li> 
                    <li><a href ='#'>Create that podcast</a></li>    
                    </ul>
                </nav>
            </div>
            </header>
            <div class="wrapper_skinny">
               <h1>Discover your podcast!</h1>
                <a href='#' class='button button_highlight'>Create a Podcast</a>
                <a href='#' class='button button_white'>Explore</a>
            </div>
         </div>
            
      <!--  <h1>
            Discover your podcast!
        </h1>
        
        <a href='#' class='button button_highlight'>Create a Podcast</a>
        <a href='#' class='button button_white'>Explore</a>
    </Body> -->